/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu";
  font-weight: 300;
}
li {
  list-style-type: none;
}
::selection {
  background-color: #90caf9;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Scroll to top style start*/
#scrollBtn {
  display: none;
  position: fixed;
  right: 40px;
  bottom: 50px;
  background: none;
  color: rgb(189, 0, 0);
  font-size: 45px;
  opacity: 1;
  transition: all 0.3s;
  z-index: 99;
}

#scrollBtn:hover {
  opacity: 0.75;
}
/* Scroll to top style end */

/* spinner style start */
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.disppear {
  animation: loadAnimation 0.8s forwards;
}

@keyframes loadAnimation {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* spinner style end */

/* Navbar style start */
.navbar {
  background-color: #e3f2fd;
}

.navbar .navbar-brand {
  font-weight: 600;
  font-family: "Ubuntu";
  font-size: 1.3em;
}

.arrow {
  border: 1px solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
  margin-left: 1px;
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 0.3s;
}

.arrow.up {
  transform: rotate(-135deg);
  margin-bottom: 0;
  -webkit-transform: rotate(-135deg);
}

.navbar .flex .btn-outline-success,
.navbar .flex .btn-success {
  font-weight: 600;
  transition: all 0.3s;
}

.navbar .flex .btn-success:hover {
  opacity: 0.8;
}
.navbar .flex .btn-outline-success {
  margin-right: 1rem;
  border: 1px solid #2196f3;
  color: #2196f3;
}

.navbar .flex .btn-outline-success:hover {
  opacity: 0.8;
  background-color: #2196f3;
  color: #fff;
}

.navbar .flex .btn-success {
  background-color: #2196f3;
  border-color: #2196f3;
}

.navbar .blog-item a:hover::after {
  transition: all 0.4s;
  width: 33px;
}
.navbar .blog-item a::after {
  content: "";
  display: block;
  margin: 1px auto;
  width: 0;
  height: 2px;
  background-color: #2196f3;
  transition: all 0.3s;
}
.navbar .course-item a:hover::after {
  transition: all 0.4s;
  width: 62px;
}
.navbar .course-item a::after {
  content: "";
  display: block;
  margin: 1px auto;
  width: 0;
  height: 2px;
  background-color: #2196f3;
  transition: all 0.3s;
}

.my-dropdown {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: fixed;
  padding: 20px;
  top: -200px;
  width: 100%;
  height: auto;
  background-color: #dae8f5;
  opacity: 0;
  transition: all 0.35s ease-in-out;
  z-index: 5;
}
.my-dropdown .content {
  display: flex;
  flex-direction: column;
}
.my-dropdown .content .content-title {
  display: flex;
}
.my-dropdown .content .content-title a {
  color: #000;
  text-decoration: none;
}
.my-dropdown .content .content-title h1 {
  font-size: 1.8em;
}
.my-dropdown.active {
  opacity: 1;
  top: 55px;
}
/* Navbar style end */

/* Header style start */
header {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://picsum.photos/1200/250");
  background-size: cover;
}
/* Header style end */

/* landing page style start */
.landing-page-title h1 {
  font-size: 3em;
}
.landing-page-title p {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.landing-page-container img {
  width: 500px;
}
.landing-page-section {
  padding-top: 60px;
}
.landing-page-section h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-page-section h3::after {
  content: "";
  display: flex;
  width: 100px;
  height: 2px;
  background-color: #90caf9;
  margin-top: 5px;
}
.landing-page-section .container img {
  width: 400px;
}
.landing-page-section .container p {
  font-size: 1.2em;
}
.landing-page-section .container p a {
  color: #2196f3;
  text-decoration: none;
}
.developers {
  margin-top: 5rem;
}
.developers .container {
  width: 75%;
}
.developers .container figure img {
  width: 150px;
  border-radius: 50%;
}
.developers .container figure figcaption {
  transform: translateY(-10px);
  opacity: 0;
  transition: all 0.2s;
}
.developers .container figure:hover figcaption {
  transform: translateY(0);
  opacity: 1;
}
/* landing page style end */

/* Blogs style start */
.blog-cards .card a {
  text-decoration: none;
}
.blog-cards .card a img {
  width: 380px;
  height: 190px;
}
.img-opacity:hover {
  transition: all 0.5s;
  opacity: 0.8;
}

.blog-cards .card-text {
  font-size: 12px;
  font-style: italic;
}

.blog-cards .card-text span {
  color: #2196f3;
}
.content ol li {
  list-style-type: decimal;
}
.content ul li {
  list-style-type: disc;
}
.content ul li a {
  color: #2196f3;
  text-decoration: none;
}
.content li h6 {
  font-weight: 500;
}
/* Blogs style end */

/* Course style start*/
.course-width {
  width: 1200px;
}
.card-width {
  width: 350px;
}
.card-width .card {
  height: 400px;
  position: relative;
}
.course-body a button {
  color: #2196f3;
  background-color: #fff;
  position: absolute;
  bottom: 15px;
  border: 1px solid #2196f3;
}
.course-body a button:hover {
  color: #fff;
  background-color: #2196f3;
}
.course-body a span {
  font-size: 1.2em;
  position: absolute;
  bottom: 20px;
  right: 15px;
}
.course-body a::before {
  content: "";
  display: flex;
  background-color: #dbeefd;
  width: 90%;
  height: 2px;
  position: absolute;
  bottom: 60px;
}
/* Course style end */

/* Course 1 style start */
.chapter-container {
  width: 60%;
}
.chapter-container .chapter-box {
  border-radius: 10px;
  background-color: #dbeefd;
}
.chapter-container div h3 {
  font-size: 1.6em;
}
.chapter-container ul li {
  list-style: none;
}
/* Course 1 style end */

/* sidebar style start */
.sidebar {
  background-color: #e3e5e7;
  overflow-y: scroll;
  height: 100%;
  width: 230px;
  flex-shrink: 0;
  position: fixed;
  left: 0;
  top: 58px;
}
.sidebar div {
  width: 100%;
}
.sidebar ul {
  padding-left: 1rem;
  width: 100%;
}
.sidebar li {
  height: 1.2rem;
  border-top: 1px solid #ccc;
}
.sidebar li a {
  color: #000;
  text-decoration: none;
}
.sidebar ::marker {
  display: none;
}
/* sidebar style end */

/* Materi style start */
.materi-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-direction: column;
}
.materi-container main {
  margin-left: 250px;
}
/* Materi style end */

/* Comment style start */
.comment-section {
  width: 1000px;
}
.comment-section .input-group {
  width: 100%;
}
.input-group input {
  width: 30%;
}
.comment-section input,
.comment-section textarea {
  border: 1px solid #000;
}
.comment-section textarea {
  resize: none;
  width: 100%;
}
/* Comment style end */

/* Footer style start */
.materi-container footer {
  margin-top: 120px;
  margin-left: 230px;
}
.nav-item.mb-2 a {
  color: #aaa;
}
.nav-item.mb-2:hover a {
  color: #fff;
}
footer .sosmed-icon li .fab {
  transition: 0.5;
  color: #000;
  font-size: 20px;
}
footer .sosmed-icon li a {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.sosmed-icon li a:hover {
  transform: translateY(-5px);
}
/* Footer style end */
/* Responsive start */

@media screen and (max-width: 768px) {
  .comment-section .input-group {
    width: 100%;
    flex-direction: column;
  }
  .input-group input {
    width: 100%;
    margin-bottom: 1rem;
  }
  .comment-section textarea {
    margin-top: 0rem !important;
  }
  .landing-page-container,
  .landing-page-section,
  .landing-page-section div {
    flex-direction: column;
  }
  .landing-page-container img {
    width: 75%;
  }
  .developers .container {
    width: 100%;
  }
  .developers .container figure figcaption {
    transform: translateY(0);
    opacity: 1;
  }
  footer .container .row {
    flex-direction: column;
  }
  footer .container .row ul {
    padding-left: 1rem;
  }
  footer .col-4.offset-1 {
    width: 80%;
  }
  section .container.filter-buttons {
    width: 100% !important;
  }
  section .container.filter-buttons #btnContainer div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  section .container.filter-buttons #btnContainer div button {
    margin: 0 !important;
    margin: 10px !important;
  }
  .course-width {
    width: 90%;
    margin-left: 2rem;
  }
  .my-dropdown {
    display: none;
  }
}
/* Responsive end */
